* { box-sizing: border-box }
$grid-start: 1;
$grid-end: 12;
/************** Mixins *************/
@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 50rem) {
      @content;
    }
  } @else if $point == desktop {
    @media (min-width: 70rem) {
      @content;
    }
  }
}

.grid::after {
  content: "";
  clear: both;
  display: table;
}

.gap-1 * + * { 
  margin-left: 20px 
} 


.span-0 {
  display: none;
}

@for $i from $grid-start through $grid-end {
  .span-#{$i} {
    float: left;
    width: calc(100% * #{ $i / $grid-end });
    display: initial;
  }
}

@for $i from $grid-start through $grid-end {
  .gap-1 > .span-#{$i} {
    width: calc((100% * #{ $i / $grid-end } - 20px) + (1 * #{ $i / $grid-end } * 20px));
  }
}

/* Tablet */
@include breakpoint(tablet) {
  .span-0-md {
    display: none;
  }

  @for $i from $grid-start through $grid-end {
    .span-#{$i}-md {
      float: left;
      width: calc((100% * #{ $i / $grid-end } - 20px) + (1 * #{ $i / $grid-end } * 20px));
      display: initial;
    }
  }
}

/* Desktop */
@include breakpoint(desktop) {
  .span-0-lg {
    display: none;
  }

  @for $i from $grid-start through $grid-end {
    .span-#{$i}-lg {
      float: left;
      width: calc((100% * #{ $i / $grid-end } - 20px) + (1 * #{ $i / $grid-end } * 20px));
      display: initial;
    }
  }
}
