$grid-start: 1;
$grid-end: 12;

/************** Mixins *************/
@mixin breakpoint($point) {
  @if $point == tablet {
    @media (min-width: 50rem) { @content ; }
  }
  @else if $point == desktop {
    @media (min-width: 70rem) { @content ; }
  }
}

/************** Base *************/
.b1 { border: 1px solid red }
.list-style-none { list-style-type: none }
.display-block { display: block }
.m0 { margin: 0 }
.p-none { padding: 0 }
.fl { float: left }
.fs1 { font-size: 1.2em }

/************** Grid *************/
.grid { display: grid }
.of-1-cols { grid-template-columns: 1fr }
.of-12-cols { grid-template-columns: repeat(12, 1fr) }

.row-span-2 { grid-row: span 2 }

.span-0 { display: none }
/* 
 creates a .span-12 { grid-column: span 12 }
 from 1 to 12
*/
@for $i from $grid-start through $grid-end {
  .span-#{$i} {
    grid-column: span #{$i};
  }
}

/* sizes */
.hide-sm { display: none }
.hide-md { display: initial }
.span-0-md { display: initial }

@include breakpoint(tablet) {
  .of-12-cols-md { grid-template-columns: repeat($grid-end, 1fr) }
  .span-0 { display: initial }
  .span-0-md { display: none }
  /*
  Creates a .span-2-md { grid-column: span 2 }
  from 1 to 12
  */
  @for $i from $grid-start through $grid-end {
    .span-#{$i}-md {
      grid-column: span #{$i};
    }
  }
}